<!doctype html>
{% with messages = get_flashed_messages(with_categories=true) %}
  <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible" role="alert" align="center">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <!-- <strong>Title</strong> --> {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<html>

{% include "head.html" %}
<body>
   <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Web SSH Client</h3>
            </div>

            <ul class="list-unstyled components">
                <p>Servers</p>
                <li class="active">
                    <a href="#">FILE-SERV</a>
                </li>
                <li>
                    <a href="#group1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Production</a>
                    <ul class="collapse list-unstyled" id="group1">
                        <li>
                            <a href="#">Server 1</a>
                        </li>
                        <li>
                            <a href="#">Server 2</a>
                        </li>
                        <li>
                            <a href="#">Server 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#group2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Development</a>
                    <ul class="collapse list-unstyled" id="group2">
                        <li v-for="item in items">
                                <a href="#">{[item.remark]}</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    <a href="#" class="addserver"  data-toggle="modal" data-target="#exampleModalLong">Add Server</a>
                </li>
                <li id="edit">
                    <a href="#" class="editserver" data-toggle="modal" data-target="#edit-modal">Edit Server</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content" style="position:relative; width:100%; height:100vh">
        </div>
    </div>
      <!-- Button trigger modal -->
  <!-- Modal -->
  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Add Server</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form id="server-form">
                <div class="form-group">
                        <label for="exampleInputRemark1">Remark</label>
                        <input type="text" name="remark" class="form-control"placeholder="Remark">
                    </div>
                <div class="form-group">
                    <label for="exampleInputHostname1">Hostname</label>
                    <input type="text" name="hostname" class="form-control"placeholder="Hostname">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputUsername1">Username</label>
                    <input type="text" name="username" class="form-control" placeholder="Username">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                  </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="form-save" data-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade"  tabindex="-1" id = "edit-modal" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Edit Server</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form id="edit-form">
                <div class="form-group">
                    <label for="exampleSelect1">Server select</label>
                    <select class="form-control" id="server-select"  v-model="select" @change="show_info(select)" >
                      <option v-for="item in items" v-bind:value="item">{[item.remark]}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputHostname1">Remark</label>
                    <input type="text" name="hostname" class="form-control" placeholder="Remark" v-model="remark">
                  </div>
                <div class="form-group">
                    <label for="exampleInputHostname1">Hostname</label>
                    <input type="text" name="hostname" class="form-control" placeholder="Hostname" v-model="hostname">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputUsername1">Username</label>
                    <input type="text" name="username" class="form-control" placeholder="Username" v-model="username">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" name="password" class="form-control" placeholder="New Password" v-model="password">
                  </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="server-delete" @click="delete_server" data-dismiss="modal">Delete server</button>
          <button type="button" class="btn btn-primary" id="edit-save" @click="edit_server" data-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>

    <script type="text/javascript">
var storage = window.localStorage;
function read_serverinfo(){
    if(typeof(storage["serverinfo"]) == "undefined" || storage["serverinfo"] == ""){
        storage["serverinfo"] = [];
        serverinfo = [];
    }
    else{
        serverinfo = JSON.parse(storage["serverinfo"]);
    }
}

$(document).ready(function () {
    read_serverinfo();
    $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
    });

$('#form-save').click(function(){
    read_serverinfo();
    var d = {};
    var data = $('#server-form').serializeArray();
    $.each(data, function() {
        d[this.name] = this.value;
    });
    var arr = [];
    serverinfo.push(d);
    storage.setItem("serverinfo",JSON.stringify(serverinfo));
    group2.items = JSON.parse(storage.getItem("serverinfo"));
});
});


var group2 = new Vue({
delimiters: ['{[', ']}'],
  el: '#group2',
  data: {
    items: JSON.parse(storage.getItem("serverinfo"))
  }
});

var edit = new Vue({
delimiters: ['{[', ']}'],
  el: '#edit-modal',
  data: {
    items: JSON.parse(storage.getItem("serverinfo")),
    hostname:'',
    username:'',
    password:'',
    remark:'',
    select:''
  },

  methods: {
    show_info: function(key) {
        // console.log(key);
        this.hostname = key.hostname;
        this.username = key.username;
        this.password = key.password;
        this.remark = key.remark;
    },
    edit_server: function (event) {
        read_serverinfo();
        // console.log(this.hostname);
        for (let i=0;i<serverinfo.length; i++){
            if(serverinfo[i].remark == this.select.remark){
                serverinfo[i].remark = this.remark;
                serverinfo[i].hostname = this.hostname;
                serverinfo[i].username = this.username;
                serverinfo[i].password = this.password;
                storage.setItem("serverinfo",JSON.stringify(serverinfo));
                group2.items = JSON.parse(storage.getItem("serverinfo"));
                this.items = JSON.parse(storage.getItem("serverinfo"));
                break;
            }
        }
    },
    delete_server: function (event){
        read_serverinfo();
        for (let i=0;i<serverinfo.length; i++){
            if(serverinfo[i].remark == this.select.remark){
                serverinfo.splice(i,1);
                storage.setItem("serverinfo",JSON.stringify(serverinfo));
                group2.items = JSON.parse(storage.getItem("serverinfo"));
                this.items = JSON.parse(storage.getItem("serverinfo"));
                break;
            }
        }
    }
  }
})
function setupHterm() {
  const t = new hterm.Terminal("light");

  t.onTerminalReady = function() {
  // Create a new terminal IO object and give it the foreground.
  // (The default IO object just prints warning messages about unhandled
  // things to the the JS console.)
  const io = t.io.push();
//   t.prefs_.set('cursor-blink', true)
// t.prefs_.set('enable-dec12', true)
t.prefs_.set('environment', {TERM: 'xterm'})
t.setCursorVisible(true);
t.prefs_.set('cursor-color', 'rgba(255, 255, 255, 1)')
  io.onVTKeystroke = (str) => {
    // Do something useful with str here.
    // For example, Secure Shell forwards the string onto the NaCl plugin.
    socket.emit('keypress', {key: str});
    console.log(str)
  };

  io.sendString = (str) => {
    // Just like a keystroke, except str was generated by the terminal itself.
    // For example, when the user pastes a string.
    // Most likely you'll do the same thing as onVTKeystroke.
  };

  io.onTerminalResize = (columns, rows) => {
    // React to size changes here.
    // Secure Shell pokes at NaCl, which eventually results in
    // some ioctls on the host.
  };

  // You can call io.push() to foreground a fresh io context, which can
  // be uses to give control of the terminal to something else.  When that
  // thing is complete, should call io.pop() to restore control to the
  // previous io object.
};
t.decorate(document.querySelector('#content'));
t.installKeyboard();

var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('connect', function() {
      console.log("connected")
      socket.emit('keypress', {key: '\n'});
    });

    socket.on('response', (data) => {
      t.interpret(data['data']);
      console.log(data['data']);
    });


}


window.onload = function() {
  lib.init(setupHterm);
};


    </script>
    </body>
<html>