<!doctype html>
{% with messages = get_flashed_messages(with_categories=true) %}
  <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible" role="alert" align="center">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <!-- <strong>Title</strong> --> {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<html>

{% include "head.html" %}
<body>
   <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Web SSH Client</h3>
            </div>

            <ul class="list-unstyled components">
                <p>Servers</p>
                <li class="active">
                    <a href="#">FILE-SERV</a>
                </li>
                <li>
                    <a href="#group1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Production</a>
                    <ul class="collapse list-unstyled" id="group1">
                        <li>
                            <a href="#">Server 1</a>
                        </li>
                        <li>
                            <a href="#">Server 2</a>
                        </li>
                        <li>
                            <a href="#">Server 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#group2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Development</a>
                    <ul class="collapse list-unstyled" id="group2">
                        <li>
                            <a href="#">Server 1</a>
                        </li>
                        <li>
                            <a href="#">Server 2</a>
                        </li>
                        <li>
                            <a href="#">Server 3</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    <a href="" class="addserver"  data-toggle="modal" data-target="#exampleModalLong">Add Server</a>
                </li>
                <li>
                    <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Add Folder</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content" onkeydown="return goToFirst();">
        </div>
    </div>
    <!-- <div class="dialog .col-md-6 .col-md-offset-3" id="myform"  >
        <form>
            <div class="form-group">
                <label for="exampleInputHostname1">Hostname</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Email">
              </div>
              <div class="form-group">
                <label for="exampleInputUsername1">Username</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              
              <button type="save" class="btn btn-default btnOK">Submit</button>
        </form>
      </div> -->
      <!-- Button trigger modal -->
  <!-- Modal -->
  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Add Server</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form id="server-form">
                <div class="form-group">
                        <label for="exampleFormControlSelect1">Server select</label>
                        <select class="form-control" id="exampleFormControlSelect1" form="server-form" name="index">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputHostname1">Hostname</label>
                    <input type="text" name="hostname" class="form-control" id="exampleInputEmail1" placeholder="Hostname">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputUsername1">Username</label>
                    <input type="text" name="username" class="form-control" placeholder="Username">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                  </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="form-save">Save changes</button>
        </div>
      </div>
    </div>
  </div>
    <script type="text/javascript">
    var storage = window.localStorage;
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        $('#form-save').click(function(){
            var d = {};
            var data = $('#server-form').serializeArray();
            $.each(data, function() {
                d[this.name] = this.value;
            });
            var arr = [];
            arr[0]=d["hostname"];
            arr[1]=d["username"];
            arr[2]=d["password"];
            storage.setItem(d["index"],arr.toString());
        });
        });

function goToFirst(evt) {
    var e = event || evt; // for trans-browser compatibility 
    var key = e.which || e.keyCode;
    console.log(key)
    if((key == 8 || key == 9) || (key >= 37 && key <= 40)){
      console.log("special")
      socket.emit('keypress', {key: key});
    }
    // use e.keyCode
};

var term = $('#content').terminal(function(command) {
        if (command !== '') {
              socket.emit('keypress', {key: 10});
        }
    }, {
        greetings: 'Web SSH Client',
        name: 'js_demo',
        prompt: '',
        echoCommand: false,
        scrollOnEcho: true,
        height: 100,
        keypress: function(e, term) {
            socket.emit('keypress', {key: e.which});
        },
        keydown: function(e) {
            //disable keyboard when animating
            if(e.ctrlKey & e.which == 67){
              socket.emit('keypress', {key: 3});
            }
        }
    });
term.set_mask('')
var last;
var prompt = term.get_prompt();
(function(echo) {
    term.echo = function(arg, options) {
        console.log("*&*&")
        var settings = $.extend({
            newline: true
        }, options);
        if (!prompt) {
            prompt = this.get_prompt();
        }
        if (settings.newline === false) {
            // this probably can be simplify because terminal handle
            // newlines in prompt
            console.log("HHHHH")
            last += arg;
            arg = this.get_prompt() + arg;
            var arr = arg.split('\n');
            var last_line;
            if (arr.length === 1) {
                last_line = arg;
            } else {
                echo(arr.slice(0, -1).join('\n'), options);
                last_line = arr[arr.length - 1];
            }
            this.set_prompt(last_line);
        } else {
            if (prompt) {
                this.set_prompt(prompt);
            }
            if (last) {
                echo(last + arg, options);
            } else {
                echo(arg, options);
            }
            last = '';
            prompt = '';
        }
    };
})(term.echo);

var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('connect', function() {
      console.log("connected")
      socket.emit('keypress', {key: 13});
    });

    socket.on('response', (data) => {
      clean = $.terminal.from_ansi(data['data'])
      if(clean != ""){
        term.echo(clean, {newline: false})
      }
      console.log(data);
    });

    </script>
    </body>
<html>